<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>Login</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<body>
    <div id="content">
        <h1>Login</h1>
        <div id="login_form">
            <form action="/login-user" method="POST">
                <input name="username" type="text" placeholder="    Username" required="required"> <br>
                <input name="password" type="password" placeholder="    Password" required="required"> <br>
                <input type="submit" id="loginBtn">
            </form>
        </div>
        <div id="forgot_form">
            <form action="/reset-password" method="all" name="setting">
                <input name="setting" type="submit" id="forgotBtn" value="Forgot Password">
            </form>
        </div>
        <p id="reg_note">Don't have an account? <a href="/register">Register</a></p>
    </div>
</body>
<style>
    body {
        background-color: #323232;
    }

    #content {
        margin: 100px auto;
        width: 500px;
        height: 380px;
        background-color: #e1e1e1;
        border-radius: 20px;
    }

    #login_form {
        position: relative;
        top: 10px;
        margin: 10px 80px;
        display: inline-block;
    }

    #forgot_form {
        position: relative;
        top: 10px;
        margin: -10px 80px;
        display: block;
    }


    input {
        border-radius: 10px;
        background-color: #cacaca;
        padding: 2px;
        margin: 20px auto;
        width: 350px;
        height: 40px;
        box-shadow: none;
        border: none;
    }

    #loginBtn {
        position: relative;
        background-color: #e15848;
        width: 80px;
        height: 40px;
        color: #e1e1e1;
        left: 70%;
    }

    #forgotBtn {
        position: relative;
        background-color: #323232;
        border: 2px #cacaca;
        border-raius: 3px;
        width: 130px;
        height: 40px;
        color: #f0f0f0;
        left: 28%;
    }

    h1 {
        position: relative;
        top: 25px;
        left: 35px;
        margin: 25px 40px;
        font-family: 'Roboto', sans-serif;
        color: #e15848;
    }

    #reg_note {
        position: relative;
        height: 50px;
        top: 10px;
        line-height: 48px;
        background-color: #e15848;
        color: #e1e1e1;
        text-align: center;
        border-radius: 20px 20px 20px 20px;
        font-size: 20px;
        margin: -10px;

    }
</style>

</html>